<div class="contenedor" ng-init="scat=false;sbus=false;">
  <header class="headerNosotros">
        <a ng-href="/index"><img class="logoHeader" src="images/logo.png" alt=""></a>
        <div class="button_container" id="toggle" ng-click="openNav()">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
        <div class="overlay" id="overlay">
          <nav class="overlay-menu">
            <ul>
              <li><a ng-href="/knockouts">KNOCKOUTS</a></li>
              <li><a ng-href="/nosotros">NOSOTROS</a></li>
              <li><a ng-href="/retadores">RETADORES</a></li>
              <li><a ng-href="/tinta">TINTA FRESCA</a></li>
              <li><a ng-href="/hablemos">HABLEMOS</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <div class="imgNosotros">
      <img src="images/somos.png" alt="">
      <p>
        Más que decirte que hacemos, queremos que sepás en que creemos. Por que la creatividad es el resultado del hambre por hacer cosas relevantes para la gente que te permita ganarte su atención dejando que ellos te digan que tan bueno es tu trabajo.

      </p>
      <p>
        Cada vez que finalizamos un buen trabajo, solo es el punto de partida para que el proximo sea aún mejor. Por que podés estar seguro que en Publimark no creemos que los retos se esperan, los retos se crean.
      </p>
    </div>
    <div class="mv">
      <div class="mvs">
        <img src="images/guante.png" alt="">
        <h3 class="titleMv">Misión</h3>
        <p>
          Creamos estrategias relevantes de comunicación integrada para marcas que buscan excelencia y mejores resultados.
        </p>
      </div>
      <div class="mvs">
        <img src="images/flecha.png" alt="">
        <h3 class="titleMv">Visión</h3>
        <p>
          Ser reconocidos como la agencia de negocios más creativa e innovadora de Latinoamérica.
        </p>
      </div>
    </div>
    <div class="clientes">
      <h2 class="title">CLIENTES</h2>
      <img src="images/lineaAzul.png" alt=""><br>
      <img class="logos-desk" src="images/clientes.png" alt="">
      <img class="logos-res" src="images/clientes.png" alt="">
    </div>
    <footer class="footer">
      <div class="footers" style="clear:both;">
        <div class="logo">
          <img src="images/logo.png" alt="">
        </div>
        <div class="infoFooter">
          <a ng-click="toTop()"><img src="images/volver.png" alt=""></a>
          <p class="textFooter">
            Escazú Plaza Tempo <br>
            Torre A piso 4, <br>
            San José, <br>
            Costa Rica <br>
            <br><br>
            +506 2228 2038
          </p>
        </div>
        <div class="logos">
          <div class="refs">
            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>
</div>
