<div class="contenedor" ng-init="scat=false;sbus=false;">
  <header class="headerKnock">
      <a ng-href="/index"><img class="logoHeader" src="images/logo.png" alt=""></a>
      <div class="button_container" id="toggle" ng-click="openNav()">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <div class="overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            <li><a ng-href="/knockouts">KNOCKOUTS</a></li>
            <li><a ng-href="/nosotros">NOSOTROS</a></li>
            <li><a ng-href="/retadores">RETADORES</a></li>
            <li><a ng-href="/tinta">TINTA FRESCA</a></li>
            <li><a ng-href="/hablemos">HABLEMOS</a></li>
          </ul>
        </nav>
      </div>
  </header>
  <div class="KnockContent">
    <div class="titleTint">
      <a href="/tinta"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>  Volver al blog</a>
      <h1>{{noticia.titulo}}</h1>
      <h5>{{noticia.fecha}}</h5>
      <img ng-src="{{noticia.imagen.fields.file.url}}" alt="">
    </div>
    <div class="texto-tint">
      <p>{{noticia.texto}}</p>
    </div>
    <div class="frase-tint">
      <span>{{noticia.frase}}</span>
    </div>
    <div class="texto-tint">
      <p>
        {{noticia.texto2}}
      </p>
    </div>
    <div class="imagen-tint">
      <img ng-src="{{noticia.imagenNoticia.fields.file.url}}" alt="">
    </div>
  </div>
  <div class="tint-images">
    <div ng-class="{noshow: (noticia.imagenUno == null)}">
      <img ng-src="{{noticia.imagenUno.fields.file.url}}" alt="">
    </div>
    <div ng-class="{noshow: (noticia.imagenDos == null)}">
      <img ng-src="{{noticia.imagenDos.fields.file.url}}" alt="">
    </div>
  </div>
  <div class="autor">
    <div class="img-aut">
      <img src="images/men.png" alt="">
    </div>
    <div class="info-aut">
      <h3>ALONSO QUESADA</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div id="tin-logos" class="logosk">
    <a href="#"style="color: #fff;background: #000;"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
  <div class="tint-btn">
    <button type="button" name="button">SUSCRIBETE PARA RECIBIR NOTICIAS <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
  </div>
  <div class="knockouts-kno">
    <div class="tinta-kno-one">
      <div class="kno-txt">
        <h2>VOLVER AL BLOG</h2>
        <a ng-href="/tinta"><h5 class="verMasHome">Ver más  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h5></a>
      </div>
      <div class="kno-img">
      </div>
    </div>
    <div class="knockouts-kno-two">
      <div class="kno-img">
        <img src="{{tendencias[0].fields.imagen.fields.file.url}}" alt="">
      </div>
      <div class="kno-txt">
        <h2>{{tendencias[0].fields.titulo}}</h2>
        <a ng-href="/knock/{{tendencias[0].sys.id}}"><h5 class="verMasHome">Ver más  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h5></a>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footers" style="clear:both;">
      <div class="logo">
        <img src="images/logo.png" alt="">
      </div>
      <div class="infoFooter">
        <a ng-click="toTop()"><img src="images/volver.png" alt=""></a>
        <p class="textFooter">
          Escazú Plaza Tempo <br>
          Torre A piso 4, <br>
          San José, <br>
          Costa Rica <br>
          <br><br>
          +506 2228 2038
        </p>
      </div>
      <div class="logos">
        <div class="refs">
          <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </footer>


</div>
