<div class="overlay"></div>
<div class="categorias-big">

    <div class="cerrar" ng-click="scat=false"></div>
    <div style="clear: both;"></div>
    <div class="icono-categoria-big"><img src="img/categorias-big.png"></div>
    <div class="categorias-big-title">Categorías</div>
    <div class="categorias-big-detail">Elegí una de las 6 categorías según lo que quieres buscar.</div>

    <div class="categorias-big-lista">

        <div class="categoria noticias">
            <div class="categoria-icon-big">
                <div class="categoria-icon-2"></div>
            </div>
            <div class="categoria-name">Noticias</div>
        </div>

        <div class="categoria deportes">
            <div class="categoria-icon-big">
                <div class="categoria-icon-2"></div>
            </div>
            <div class="categoria-name">Noticias</div>
        </div>

        <div class="categoria vida">
            <div class="categoria-icon-big">
                <div class="categoria-icon-2"></div>
            </div>
            <div class="categoria-name">Noticias</div>
        </div>

        <div class="categoria entretenimiento">
            <div class="categoria-icon-big">
                <div class="categoria-icon-2"></div>
            </div>
            <div class="categoria-name">Noticias</div>
        </div>

        <div class="categoria tecnologia">
            <div class="categoria-icon-big">
                <div class="categoria-icon-2"></div>
            </div>
            <div class="categoria-name">Noticias</div>
        </div>

        <div class="categoria economia">
            <div class="categoria-icon-big">
                <div class="categoria-icon-2"></div>
            </div>
            <div class="categoria-name">Noticias</div>
        </div>

    </div>


</div>